@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
  primary: #0D924F,
  accent: md-get-palette-color(red, A200)
));

@import "~vue-material/dist/theme/all";

html, body, .md-app, .md-app-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}