@import "~vue-material/dist/theme/engine";

$primary: #0D924F;
$accent: md-get-palette-color(lightgreen, 100);

@include md-register-theme("default", (
  primary: $primary,
  accent: $accent
));

@import "~vue-material/dist/theme/all";

html, body, .md-app, .md-app-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  margin-bottom: 1em;

  > .md-toolbar {
    @extend .md-primary;
  }

  > .md-content.md-theme-default {
    border: 1px solid md-theme(primary);
  }
}
